# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages

apache-airflow[pandas,postgres]==2.7.1
apache-airflow-providers-amazon==8.15.0
apache-airflow-providers-postgres==5.10.0
boto3==1.34.34
psycopg2-binary==2.9.9
python-dotenv==1.0.1
requests==2.31.0
pandas==2.2.0
pendulum==2.1.2  # specific version that works with Airflow
pyarrow==15.0.0  # for parquet file handling
fastparquet==2024.2.0  # for parquet file handling
